div.col-md-12 .row{
		padding:20px 25px;	
	}
	 
	/* @media only screen and (max-width: 770px) {
	
		.content{
			width:770px;
		}
		
		.header{
			width:770px;
		}
		
		.navbar{
			width:770px;
		}
	} */
	
	.next{
		float:right;
		margin-right:0%;
		background-image:url('../img/makecalc4.png');
		background-size:300px 40px;
		width:300px;
		height:40px;
		display:inline-block;
	 	vertical-align:middle;
		font-size:20px;
		font-color:black;
	}
	
	.next a{
		display:block;
		width:300px;
		height:40px;
		text-decoration:none;
		color:black;
		text-align:center;
		padding-top:6px;
	}
	
.next:hover {
 	-webkit-transform: scale(1.1);
 	-moz-transform: scale(1.1);
 	-ms-transform: scale(1.1);
 	-o-transform: scale(1.1);
 	transform: scale(1.1);
}

.next a:hover {
	color: white;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.h2 {
	float: left;
	margin-left: 1%;
}
.table {
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
.table .table tbody tr td {
	border-bottom: 0;
}
.table .table {
	background-color: transparent;
	border-right: 1px solid #ddd;
}
.next {
	margin-top: 15px;
	margin-right: 10px;
}
.next a {
	color: #545e79;
}
.next a:hover {
	color: black;
}
.blue-font div:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.h4 div:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.col-md-12 {
	margin-top: 0px;
}
.h4 {
	float: left;
}
.tablerow {
	margin-top: 20px;
}
.maintable {
	font-size: 16px;
}
.detailhead {
	text-align: center;
}
.mainrow {
	margin-bottom: 10px;
}
.mainrowtd1 {
	width: 30%;
	padding: 20px 8px;
	padding-top: 8px;
}
.mainrowtd2 {
	width: 10%;
	padding: 15px 8px;
	padding-top: 8px;
}
.mainrowtd3 {
	width: 30%;
	padding: 15px 8px;
	padding-top: 8px;
}
.mainrowtd4 {
	width: 20%;
	padding: 15px 8px;
	padding-top: 8px;
}
.mainrowtd5 {
	vertical-align: middle;
	text-align: center;
	width: 10%;
	font-size: 16px;
	border-left: 1px solid #ddd;
}
.tablerow td {
	padding: 0px;
}
.innertable {
	margin: 0 0;
	width: 100%;
	border-spacing: 0px;
	padding: 0px;
	vertical-align: middle;
	font-size: 14px;
}
.headrowrowtable {
	font-weight: bold;
}
.headrowrowtable td {
	width: 18%;
}

th, td{
	word-break:break-all;
}