@CHARSET "UTF-8";

	/* body{
		background-color:#ffffff;
	} */
	.header{
		background-image:url('../img/BG_headerShort.png');
		background-size:1366px 224px;
		height:224px;
	}
	
	.header div.col-md-12{
		margin-top:8%;
	}
	
	@media only screen and (max-device-width: 480px) {
		.header div.col-md-12{
			margin-top:4%;
		}
		
		.header p:first-child{
			font-size:27px;
		}
			
		.header p:last-child{
			font-size: 20px;
		}
	}
	
	/* CONTENT for index and home*/
	.content{
		background-image:url('../img/BG_greenWhite.png');
		background-size:1366px 100%;
		height:100%;
		margin-bottom:5%;
	}
	
	.content div.col-md-12{
		margin-top:5%;
		margin-bottom:5%;
	}