@CHARSET "UTF-8";

	.header{
		background-image:url('../img/BG_headerLong.png');
		background-size:1366px 389px;
		height:389px;
	}
	
	.header div.col-md-12{
		margin-top:20%;
	}
	
	@media only screen and (max-width: 480px) and (orientation:portrait) {
		.header{
			background-size:1366px 100vh;
			height: 100vh;
		}
		
		/* .col-md-4{
			height:100vh;
		} */
		
		.header div.col-md-12{
			margin-top:50%;
		}
		
		.header p:first-child{
			font-size:40px;
		}
			
		.header p:last-child{
			font-size: 30px;
		}
		/* img{
			width:250px;
		}
		
		#ico-names{
			font-size:36px;
		}
		
		.desc{
			font-size:24px;
		}
		
		.lr-link{
			font-size:24px;
		} */
	}
	
	
	/* CONTENT for index and home*/
	.content{
		background-image:url('../img/BG_greenWhite.png');
		background-size:1366px 100%;
		height:100%;
		padding-bottom:40px;
	}
	
	.content div.col-md-12{
		margin-top:4%;
	}
	
	
	/*Login, Register, Reset password*/
	.login-form, .register-form, .reset-form{
		margin-top:5%;
		margin-bottom:5%;
	}
	
	.login-form .rightlink, .register-form .rightlink, .reset-form .rightlink{
		text-align:right;
		float:right;
	}
	
	.login-form .leftlink, .register-form .leftlink, .reset-form .leftlink {
		text-align:left;
		float:left;
	}
	
	@media screen and (max-device-width: 340px){
		.login-form .rightlink, .register-form .rightlink{
			float:none;
		}
		.login-form .leftlink, .register-form .leftlink{
			float:none;
			text-align:center;
			display:block;
		}
	}