@CHARSET "UTF-8";

body{
	background-color: #e4f5e4;
}

.header{
	height:80px;
	background-color: #1b2433;
}

	.header div.col-md-12{
		margin-top:0%;
	}	
	
	.content{
		background-image:url('../img/BG_greenWhite.png');
		background-size:1366px 100%;
		height:100%;
		margin-top:1%;
		margin-bottom:5%;
		border-radius: 10px;
	}

	.content .col-md-12{
		margin-top:5%;
		margin-bottom:5%;
	}
	
	.snapshot-title{
		font-size:18px;
		font-weight:bold;
	}
	
	.snapshot-title h2{
		margin-bottom:40px;
	}
	
	
	
	
	.table{
		margin:30px auto;
		width:90%;
		border-spacing:15px;
		border-collapse:separate;
	}
	
	tbody tr:not(.nohover):hover{
	    background-color: #e4f5e4;
	}
	
	th, td{
		text-align: center;
	}
	
	.table tbody tr td{
		border-top:none;
		border-bottom:1px solid #ddd;
	}
	
	/*TABLE DEFAULT*/
	table.table-default{
		border-spacing:0px;
		border-collapse:collapse;
	}
	.table-default{
		margin:0px;
		width:100%;
		max-width:100%;
		border-spacing:0px;
		border-collapse:collapse;
	}
	
	.table-scroll{
		display:block;
		overflow:auto;
	}
	
	.table-default thead{
		background-color:#e4f5e4;
	}
	
	.table-dafualt thead tr th{
		border-bottom:0px;
	}
	
	.table-default th,td {
		text-align: left;
	}
	
	

@media only screen and (max-device-width: 480px) {
		 .header div.col-md-12{
			margin-top:4%;
		}
		
		.header p{
			font-size:30px;
		}
	}