@CHARSET "UTF-8";

body {
	color: #545e79;
	background-color: #e4f5e4;
}

#ico-names {
	font-weight: bold;
	font-size: 16px;
}

.red-font {
	color: #e0053c;
	font-size: 17px;
}

.blue-font, a{
	color: #5999e4;
}

.header-title{
	color: #ffffff;
	text-align:center;
}

.header p:first-child{
	font-size:42px;
}
	
.header p:last-child{
	font-size: 24px;
}

.left{
	text-align:left;
}

.content div.no-top-margin{
		margin-top:0;
}

a:hover{
	cursor:pointer;
}

label.control-label {
    float: left;
}

/*Custom checkbox and radio button*/
	input[type=radio], input[type=checkbox]{
		display:none;
	}

	input[type=radio]+span{
		padding-left:30px;
		padding-bottom: 10px;
		background:url('../img/BTN_bullet_empty.png') no-repeat;
		background-size:19px 20px;
		width:19px;
		height:20px;
		display:inline;
	}
	
	
	input[type=checkbox] + span{
		padding-left:30px;
		padding-bottom: 10px;
		background:url('../img/BTN_check_empty.png') no-repeat;
		background-size:19px 20px;
		width:19px;
		height:20px;
		display:inline;
	}
	input[type=radio]:checked + span {
		background:url('../img/BTN_bullet_full.png') no-repeat;
		background-size:19px 19px;
		width:19px;
		height:19px;
		display:inline;
	}
	
	input[type=checkbox]:checked + span {
		background:url('../img/BTN_check_full.png') no-repeat;
		background-size:19px 19px;
		width:19px;
		height:19px;
		display:inline;
	}

	input[type=radio] + span + div, input[type=checkbox] + span + div{
		margin-left:30px;
		margin-top:-20px;
	}
