@CHARSET "UTF-8";
/*CSS design for survey questions and calculation filter*/

	/*-Next and Prev buttons-*/
	.next{
		float:right;
		margin-right:10%;
		background-image:url('../img/BTN_Green.png');
		background-size:176px 45px;
		width:176px;
		height:45px;
		display:inline-block;
		text-align:center;
	 	vertical-align:middle;
	 	padding:13px;
	 	margin-top:20px;
	 	cursor:pointer;
	}
	
	.prev{
		float:left;
		margin-left:10%;
		background-image:url('../img/BTN_White.png');
		background-size:176px 45px;
		width:176px;
		height:45px;
		display:inline-block;
		text-align:center;
		padding:13px;
		margin-top:20px;
		cursor:pointer;
	}
	
	
	
	p{
		clear:both;
	}
	
	ol, ul {
		marign: 0px;
		padding: 0px;
	}
	
	label{
		text-align:left;
		display:block;
		font-weight:normal;
	}
	
	
	.question-title{
		font-weight:bold;
		text-align:center;
	}
	
	.answer{
		float:left;
		margin-bottom:10px;
		/* height:40px; */
	}
	
	.col-md-12.question, .col-sm-12.question{
		margin-top:0%;
		margin-bottom:0%;
	}
	
	
	