div.container {
	padding: 0 15px;
}
div.col-md-12 .row {
	padding: 0px 15px;
}
@media screen and (max-device-width: 370px) {
	.nav-pills > li {
		float: none;
	}
	div.col-md-12 .row {
		padding: 0px;
	}
}	