@CHARSET "UTF-8";

/*Table design*/
@media screen and (min-width:250px ) and (max-width:480px) {
	.nav-pills > li{
		float:none;
	}

	.table tbody tr td{
		border-bottom : 0px;
		padding-left:0px;
	}
	
	.table > thead > tr > th{
		border-bottom: 0px;
		display:none;
	}
	.table-default thead, tbody tr:not(.nohover):hover {
		background-color:transparent;
	}
	
	tr{
		border-top:1px solid black;
	}
	
	.th-label-mobile{
		font-size: 18px;
		font-weight:bold;
		color:#545e79;
		text-align:center;
	}
	
	.td-value{
		word-break:break-all;
	}
	
	td{
		display:block;
		position:relative;
		width:100%;
	}
	
	td p:nth-child(2){
		text-align:center;
	}
	
	h2.left{
		text-align:center;
	}
}